.app-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ff8a65;
    text-align: center;
    color: #333;
    border: 1px solid transparent;
    padding: 3px 8px 3px 16px;
}