.app-footer-top {
    background-image: url("../../assets/footer/footer.png") ;
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    padding: 0 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__text {
        padding: 15px 0 0 24px;
        font-size: 32px;
        text-transform: uppercase;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__btn {
        border-radius: 34px;
        color: #333;
        border: 1px solid transparent;
        font-size: 20px;
        padding: 16px 23px;  
        background: #d9cef2;
        text-align: center;
        box-shadow: 0 3px 14px rgba(0,0,0,.160784);

        &:hover{
            background-color: #d0b8fe;
        }
    }
}
